<div class="coordinates-container">
    <div id="coordinates-oficina" class="coordinates-box">
        <h3>
            <div class="status-indicator"></div>
            OFICINA EMBARCACIONES
            <span class="antenna-initials">OE</span>
        </h3>
        <div class="coordinates-info"></div>
    </div>

    <div id="coordinates-merida" class="coordinates-box">
        <h3>
            <div class="status-indicator"></div>
            RM MÉRIDA
            <span class="antenna-initials">RM</span>
        </h3>
        <div class="coordinates-info"></div>
    </div>

    <div id="coordinates-riocaribe" class="coordinates-box">
        <h3>
            <div class="status-indicator"></div>
            RM RIO CARIBE
            <span class="antenna-initials">RC</span>
        </h3>
        <div class="coordinates-info"></div>
    </div>

    <button class="collapse-button">
        <i class="fas fa-chevron-left"></i>
    </button>
</div> 